
.body {
    background-color: aliceblue;
}

.Maintenance_container {
    color: #000;
}

.Request_font {
    font-weight: bolder;
    margin-bottom: -100px;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: -60px;
}

ul {
    list-style-type: none; 
    padding: 0; 
}

li {
    line-height: 1.5; 
    margin-bottom: 10px; 
    font-weight: normal;
   
}

.tableContainer {
    margin: 0 auto; 
    max-width: 400px; 
}

.customTable {
    width: 100%;
    font-size: 14px;
}
